<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Nasa Image Generator</title>
</head>
<body>

    <h1 class="heading">Picture of the Day</h1>

    <h2 class="title">"<%= title %>"</h2>

    <img src="<%= url %>" alt="NASA Image of the Day" class="image">

    <h4 class="explanation"><%= explanation %></h4>

</body>
</html>
